html, body, .content {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content {
    display: grid;
    grid-template-rows: auto 1fr;
    background-size: cover;
}

.header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #393959;
}

.body {
    display: grid;
}

.days-forecast {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto 1fr;
    align-items: center;
    padding-bottom: 40px;
}

.days-forecast > h1 {
    grid-column: 1/4;
}

.hourly-forecast, .days-forecast, .weather-info {
    padding-left: 100px;
    padding-right: 50px;
    gap: 30px;
    background-color: #212121a6;
    color: white;
}

.details {
    padding-left: 15px;
    font-size: 1.4rem;
    display: grid;
    row-gap: 6px;
}

#location > div {
    font-weight: 400;
    font-size: 0.8rem;
}

#location {
    display: grid;
    gap: 4px;
}

#temp {
    font-size: 5rem;
    height: 100%;
}

#highest-temp, 
#lowest-temp {
    display: flex;
    align-items: center;
}

#highest-temp > img, 
#lowest-temp > img {
    height: 28px;
}

.icon {
    height: 22px;
}

.details > div,
.extra > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

div.high-low {
    gap: 20px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.hours {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, clamp(800px, 100%, 1400px));
    width: clamp(800px, 100%, 1400px);
    overflow: hidden;
    position: relative;
}

.hourly-forecast {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 30px;
}

.hour-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hour-details > span {
    padding-left: 7px;
    padding-top: 5px;
}

.hour-details > span:first-child {
    padding-left: 3px;
}

.condition-icon {
    width: 40px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: clamp(800px, 100%, 1400px);
}

.filled {
    background-color: #fff;
    transition: all 1s ease-in-out;
}

.now-hour7, 
.hour8-hour15, 
.hour16-hour23 {
    display: flex;
    justify-content: space-around;
}

.now-hour7 {
    transition: transform 1s ease-in-out;
}

.hour8-hour15 {
    transition: transform 1s ease-in-out;
}

.hour16-hour23 {
    transition: transform 1s ease-in-out;
}

.hours.forward > .now-hour7 {
    transform: translateX(-100%);
}

.hours.forward > .hour8-hour15 {
    transform: translateX(-100%);
}

.hours.forward > .hour16-hour23 {
    transform: translateX(-100%);
}

.hours.forward.forward2 > .now-hour7 {
    transform: translateX(-200%);
}

.hours.forward.forward2 > .hour8-hour15 {
    transform: translateX(-200%);
}

.hours.forward.forward2 > .hour16-hour23 {
    transform: translateX(-200%);
}

.dots {
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid white;
    border-radius: 50%;
}


.today,
.tomorrow,
.day-after-tomorrow {
    display: grid;
    justify-items: center;
}

.forecast {
    display: flex;
    justify-content: space-around;
    width: clamp(460px, 100%, 725px) ;
    grid-column: 1/4;
}

.credit {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #3f3f46;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    color: green;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.light {
    color: white;
}

#condition {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#feels-like {
    grid-row: 2/3;
}

#chance-of-rain {
    grid-row: 3 / 4;
}

div.extra {
    display: grid;
    gap: 8px;
    padding-top: 6px;
    font-size: 1.2rem;
}

div.temp-and-extra {
    gap: 120px;
}

input[type=search], #search-location {
    appearance: none;
    border: 1px solid black;
    padding: 3px 5px;
    border-radius: 6px;
    outline: none;
}

label {
    font-size: 1.3em;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

input[type=search]:hover  {
    border: 2px solid black;
}

#search-location {
    background-color: #3b82f6;
    color: white;
    padding: 5px 8px;
    border: none;
}

#search-location:active {
    background-color: #2563eb;
}


#fahrenheit, #celsius {
    border-radius: 6px;
    padding: 3px 8px;
    border: none;
}

#fahrenheit {
    background-color: #fdba74;
}

#celsius {
    background-color: #6ee7b7;
}
